html,
body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
}

h1 {
  margin-bottom: 10px;
  color: #5b010179;
  text-shadow: 0 0 3px #912121;
  -webkit-text-stroke: 0.01px #954343;
}

hr {
  border-top: solid #ba5f5f;
  /* box-shadow: 2px 2px 10px #ba5f5f; */
  width: 70%;
  margin-top: 0.1;
}

/* img {
  height: 25px;
} */

/* button {
  display: flex;
  align-items: center;
  color: rgb(29, 2, 2);
  background-color: rgb(224, 147, 147);
  border-radius: 10px;
  border-color: #0d0101;
  padding: 5px;
  box-shadow: 5px 8px 10px 0px rgba(68, 6, 6, 0.483);
} */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url(images/Gemini_Generated_Image_2689rp2689rp2689.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-color: rgba(255, 255, 255, 0.6);
}

.div1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.div2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}

.about-img {
  height: 150px;
  border: 3px solid rgb(88, 13, 13);
  border-radius: 20px 20px 0px 0px;
  float: right;
  padding-top: 60px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 1px 4px 10px 0px #954343;
}

.comp-img {
  height: 150px;
  float: left;
  margin-right: 20px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 1px 4px 10px 0px #954343;
}

p {
  max-width: 800px;
}

.contect {
  height: 35px;
  width: auto;
}

.horizontal {
  gap: 20px;
  display: inline-flex;
  align-items: center;
}

.horizontal a:hover img {
  transform: scale(1.15);
}

.horizontal {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center; /* מרכז את כולם אופקית */
}

.link-icon-text {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #0e0e0e;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 15px;
  transition: transform 0.25s ease, background-color 0.25s ease;
}

.link-icon-text:hover {
  background-color: rgba(122, 3, 3, 0.234);
  transform: scale(1.08);
}

footer {
  background-color: #912121;
  width: 100%;
  padding: 10px 40px;
  margin-top: 50px;
  text-align: center;
  color: rgb(251, 241, 241);
}

@media (max-width: 768px) {
  .content-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px; /* רווח בין התמונה לטקסט */
    margin: 40px 0; /* רווח בין בלוקים */
  }

  p {
    line-height: 1.6; /* קריא יותר במובייל */
  }

  .about-img,
  .comp-img {
    height: 120px;
  }
}
